body {
  background-color: #1f2937;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
}

.styleheader {
  color: white;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-left: 30px;
  color: white;
}

h1 {
  font-size: 30px;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.flexbox {
  width: 600px;
  height: 250px;
  padding-top: 30px;
  padding-right: 175px;
  display: flex;
}

.stylep {
  color: white;
  width: 350px;
}

.block {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 200px;
  color: white;
  margin-top: 30px;
}

.stylebutton {
  color: white;
  background-color: royalblue;
  border-radius: 7px;
  border-style: none;
  width: 90px;
  height: 30px;
}

.styleflex {
  padding-right: 30px;
}

.styleh {
  color: black;
  text-align: center;
  font-size: 28px;
  padding-top: 30px;
}

.backgroundwhite {
  background-color: white;
  height: 350px;
}

.mineblock {
  border: royalblue;
  width: 100px;
  height: 100px;
  border-style: solid;
  border-radius: 10px;
  border-width: 5px;
  display: flex;
  flex-direction: row;
  margin-left: 70px;
}

.container2 {
  display: flex;
}

.flexbox1 {
  display: flex;
}

.stylep1 {
  text-align: center;
}

.block1 {
  padding-top: 10px;
}

.container3 {
  background-color: grey;
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.italicstyle {
  width: 350px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  background-color: white;
  display: flex;
  height: 300px;
}

.flexbox2 {
  background-color: royalblue;
  height: 150px;
  width: 650px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 150px;
  margin-top: 80px;
  padding-left: 80px;
}

.stylep2 {
  color: white;
  font-size: 10px;
}

.stylebutton2 {
  background-color: royalblue;
  border: white;
  border-style: solid;
  border-radius: 5px;
  color: white;
  height: 40px;
  margin-left: 180px;
  margin-top: 30px;
}

.styleflex2 {
  display: flex;
  align-items: center;
}

.styleh1 {
  font-size: 25px;
  margin-top: 40px;
}
